<html>
<head>
	<title>Cloud Brain</title>
	<meta charset="UTF-8">
	<meta name="description" content="Cryptocurrency Landing Page Template">
	<meta name="keywords" content="cryptocurrency, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="../static/img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="../static/css/themify-icons.css"/>
	<link rel="stylesheet" href="../static/css/owl.carousel.css"/>
	<link rel="stylesheet" href="../static/css/style.css"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<!-- Page Preloder -->
	<!--<div id="preloder">
		<div class="loader"></div>
	</div>-->

	<!-- Header section -->
	<header class="header-section clearfix">
		<div class="container-fluid">
			<a href="index.html" class="site-logo">
				<img src="../static/img/cbr2.png" alt="">
			</a>
			<div class="responsive-bar"><i class="fa fa-bars"></i></div>
			<a href="" class="user"><i class="fa fa-user"></i></a>
			<!--<a href="register.php" class="site-btn">Sign Up Free</a>-->
			<nav class="main-menu">
				<ul class="menu-list">
					<li><a href="/user_home">Home</a></li>
					<li><a href="/education">Education</a></li>
					<li><a href="/occupation">Occupation</a></li>
					<li><a href="/relative">Relatives</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<!-- Header section end -->



	<!-- Page info section -->
	<section class="page-info-section">
		<div class="container">
			<h3>Welcome {{data[1]}} {{data[2]}}</h3>
			<div class="site-beradcamb">
				User ID: {{uname}}
				<!--<span><i class="fa fa-angle-right"></i> </span>-->
			</div>
		</div>
	</section>
	<!-- Page info end -->



	<!-- Contact section -->
	<section class="contact-page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<form class="contact-form" name="form1" method="post">
					<h3>Personal Information</h3>
						<div class="row">
						
							<div class="col-md-3">
									Name
							</div>
							<div class="col-md-3">
									: {{data[1]}} {{data[2]}}
							</div>
							<div class="col-md-3">
								Gender
							</div>
							<div class="col-md-3">
								: {{data[3]}}
							</div>
							<div class="col-md-12" style="border-bottom:#D3D3D3 solid 1px">
							&nbsp;
							</div>
							<div class="col-md-3">
								D.O.B:
							</div>
							<div class="col-md-3">
								: {{data[4]}}
							</div>
							<div class="col-md-6">
								
							</div>
							<div class="col-md-12" style="border-bottom:#D3D3D3 solid 1px">
							&nbsp;
							</div>
							<div class="col-md-3">
								Temporary Address
							</div>
							<div class="col-md-9">
								: {{data[5]}}
							</div>
							<div class="col-md-3">
								Permanent Address
							</div>
							<div class="col-md-9">
								: {{data[6]}}
							</div>
							<div class="col-md-12" style="border-bottom:#D3D3D3 solid 1px">
							&nbsp;
							</div>
							<div class="col-md-3">
								Pincode
							</div>
							<div class="col-md-3">
								: {{data[7]}}
							</div>
							<div class="col-md-3">
								City
							</div>
							<div class="col-md-3">
								: {{data[8]}}
							</div>
							<div class="col-md-12" style="border-bottom:#D3D3D3 solid 1px">
							&nbsp;
							</div>
							<div class="col-md-3">
								State
							</div>
							<div class="col-md-3">
								: {{data[9]}}
							</div>
							<div class="col-md-3">
								Country
							</div>
							<div class="col-md-3">
								: {{data[10]}}
							</div>
							<div class="col-md-12" style="border-bottom:#D3D3D3 solid 1px">
							&nbsp;
							</div>
							<div class="col-md-3">
								Email
							</div>
							<div class="col-md-3">
								: {{data[11]}}
							</div>
							<div class="col-md-3">
								Mobile No.
							</div>
							<div class="col-md-3">
								: {{data[12]}}
							</div>
							<div class="col-md-12" style="border-bottom:#D3D3D3 solid 1px">
							&nbsp;
							</div>
							<div class="col-md-3">
								Alternate Mobile No.
							</div>
							<div class="col-md-3">
								: {{data[13]}}
							</div>
							<div class="col-md-3">
								Landline No.
							</div>
							<div class="col-md-3">
								: {{data[14]}}
							</div>
							<div class="col-md-12" style="border-bottom:#D3D3D3 solid 1px">
							&nbsp;
							</div>
							<div class="col-md-3">
								Aadhar Card Number
							</div>
							<div class="col-md-3">
								: {{data[15]}}
							</div>
							
							<div class="col-md-3">
								Voter ID
							</div>
							<div class="col-md-3">
								: {{data[16]}}
							</div>
							
							<div class="col-md-12" style="border-bottom:#D3D3D3 solid 1px">
							&nbsp;
							</div>
							<div class="col-md-3">
								PAN Card
							</div>
							<div class="col-md-3">
								: {{data[17]}}
							</div>
							
							<div class="col-md-3">
								Driving License
							</div>
							<div class="col-md-3">
								: {{data[18]}}
							</div>
							<div class="col-md-12" style="border-bottom:#D3D3D3 solid 1px">
							&nbsp;
							</div>
						</div>
						
						
						
						<h3>Educational Information</h3>
						<div class="row">
							<div class="col-md-3">
								SSLC School Name
							</div>
							<div class="col-md-3">
								: {% if data[19]=="" %} {% else %} {{data[19]}} {% endif %}
							</div>
							<div class="col-md-3">
								Marks
							</div>
							<div class="col-md-3">
								: {% if data[20]=="" %} {% else %} {{data[20]}} {% endif %}
							</div>
							<div class="col-md-12" style="border-bottom:#D3D3D3 solid 1px">
							&nbsp;
							</div>
							
							<div class="col-md-3">
								Passout Year
							</div>
							<div class="col-md-3">
								: {% if data[21]=="" %} {% else %} {{data[21]}} {% endif %}
							</div>
							<div class="col-md-3">
								Percentage
							</div>
							<div class="col-md-3">
								: {% if data[22]=="" %} {% else %} {{data[22]}} {% endif %}
							</div>
							<div class="col-md-12" style="border-bottom:#D3D3D3 solid 1px">
							&nbsp;
							</div>
							
							<div class="col-md-3">
								HSC School Name
							</div>
							<div class="col-md-3">
								: {% if data[23]=="" %} {% else %} {{data[23]}} {% endif %}
							</div>
							<div class="col-md-3">
								Marks
							</div>
							<div class="col-md-3">
								: {% if data[24]=="" %} {% else %} {{data[24]}} {% endif %}
							</div>
							<div class="col-md-12" style="border-bottom:#D3D3D3 solid 1px">
							&nbsp;
							</div>
							<div class="col-md-3">
								Passout Year
							</div>
							<div class="col-md-3">
								: {% if data[25]=="" %} {% else %} {{data[25]}} {% endif %}
							</div>
							<div class="col-md-3">
								Percentage
							</div>
							<div class="col-md-3">
								: {% if data[26]=="" %} {% else %} {{data[26]}} {% endif %}
							</div>
							<div class="col-md-12" style="border-bottom:#D3D3D3 solid 1px">
							&nbsp;
							</div>
							
							<div class="col-md-3">
								UG College Name
							</div>
							<div class="col-md-3">
								: {% if data[27]=="" %} {% else %} {{data[27]}} {% endif %}
							</div>
							<div class="col-md-3">
								Percentage
							</div>
							<div class="col-md-3">
								: {% if data[28]=="" %} {% else %} {{data[28]}} {% endif %}
							</div>
							<div class="col-md-12" style="border-bottom:#D3D3D3 solid 1px">
							&nbsp;
							</div>
							<div class="col-md-3">
								Passout Year
							</div>
							<div class="col-md-3">
								: {% if data[29]=="" %} {% else %} {{data[29]}} {% endif %}
							</div>
							<div class="col-md-3">
								
							</div>
							<div class="col-md-3">
								
							</div>
							<div class="col-md-12" style="border-bottom:#D3D3D3 solid 1px">
							&nbsp;
							</div>
							
							<div class="col-md-3">
								PG College Name
							</div>
							<div class="col-md-3">
								: {% if data[30]=="" %} {% else %} {{data[30]}} {% endif %}
							</div>
							<div class="col-md-3">
								Percentage
							</div>
							<div class="col-md-3">
								: {% if data[31]=="" %} {% else %} {{data[31]}} {% endif %}
							</div>
							<div class="col-md-12" style="border-bottom:#D3D3D3 solid 1px">
							&nbsp;
							</div>
							<div class="col-md-3">
								Passout Year
							</div>
							<div class="col-md-3">
								: {% if data[32]=="" %} {% else %} {{data[32]}} {% endif %}
							</div>
							<div class="col-md-3">
								
							</div>
							<div class="col-md-3">
								
							</div>
							<div class="col-md-12" style="border-bottom:#D3D3D3 solid 1px">
							&nbsp;
							</div>

						</div>
						<h3>Send to (Relative)</h3>
						<div class="row">
							<div class="col-md-3">
								: {% if data[40]==0 %}
									-
								{% else %}
								
								ID: {{data[40]}} - {{rname}}
			 
			  					{% endif %}
							</div>
						</div>
					</form>
				</div>
				<div class="col-lg-4 mt-5 mt-lg-0">
					
		 {% if data[33]=="" %}
		 <img src="../static/img/cbr8.jpg" class="img-fluid" />
		  {% else %}
		  <img src="../static/photo/{{data[33]}}" class="img-fluid" style="border-radius: 50%" />
		  {% endif %}
		  <br>
		  <a href="/edit">Edit Profile</a> / 
		  <a href="/upload">Change Photo</a>
		  
				</div>
			</div>
		</div>
	</section>
	<!-- Contact section end -->


	<!-- Newsletter section -->
	<section class="newsletter-section gradient-bg">
		<div class="container text-white">
			<div class="row">
				<div class="col-lg-7 newsletter-text">
					<h2>Cloud Information</h2>
					<p>The user has store the information into cloud. Information has send to alloted persons after user's death.</p>
				</div>
				<div class="col-lg-5 col-md-8 offset-lg-0 offset-md-2">
					<!--<form class="newsletter-form">
						<input type="text" placeholder="Enter your email">
						<button>Get Started</button>
					</form>-->
				</div>
			</div>
		</div>
	</section>
	<!-- Newsletter section end -->



	<!-- Blog section -->
	
	<!-- Blog section end -->


	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<div class="row spad">
				<div class="col-md-6 col-lg-3 footer-widget">
					<img src="../static/img/cbr2.png" class="mb-4" alt="">
					<p>Create an artificial brain that can think, alerts, take decision, Store and Retrieve Information from Cloud.</p>
					<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<?php include("include/title2.php"); ?> <a href="https://colorlib.com" target="_blank"></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
				</div>
				<div class="col-md-6 col-lg-2 offset-lg-1 footer-widget">
					<h5 class="widget-title">Resources</h5>
					<ul>
						<li><a href="/user_home">Home</a></li>
						<li><a href="/add_user">Add User</a></li>
						<li><a href="/setting">Settings</a></li>
						<li><a href="/relative">Relatives</a></li>
					</ul>
				</div>
				<div class="col-md-6 col-lg-2 offset-lg-1 footer-widget">
					<h5 class="widget-title">Quick Links</h5>
					<ul>
						<li><a href="/account">Bank Account</a></li>
						<li><a href="/ac_email">E-mail</a></li>
						<li><a href="/document">Documents</a></li>
						<li><a href="/audio">Audio/Video</a></li>
					</ul>
				</div>
				<div class="col-md-6 col-lg-3 footer-widget pl-lg-5 pl-3">
					<h5 class="widget-title">Follow Us</h5>
					<div class="social">
						<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
						<a href="" class="google"><i class="fa fa-google-plus"></i></a>
						<a href="" class="instagram"><i class="fa fa-instagram"></i></a>
						<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="row">
					<div class="col-lg-4 store-links text-center text-lg-left pb-3 pb-lg-0">
						<!--<a href=""><img src="img/appstore.png" alt="" class="mr-2"></a>
						<a href=""><img src="img/playstore.png" alt=""></a>-->
					</div>
					<div class="col-lg-8 text-center text-lg-right">
						<ul class="footer-nav">
							<li><a href="">Terms of Use</a></li>
							<li><a href="">Privacy Policy </a></li>
							<li><a href="">cloudbrain@info.com</a></li>
							<li><a href="">(123) 456-7890</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!--====== Javascripts & Jquery ======-->
	<script src="../static/js/jquery-3.2.1.min.js"></script>
	<script src="../static/js/owl.carousel.min.js"></script>
	<script src="../static/js/main.js"></script>
</body>
</html>